ul{
    display: inline;
    
}
.recherche{
    padding: 0;
   background-color: #a7c957;
   height: 35px;
   margin-top: 8px;
   width: 55px;
   border-radius: 3px;
   border: none;
   color: #5bb000;
   
}
.phone{
    margin-left: 10px;
}
.mySlides{
    width: 900px;
}
.input{
    height: 30px;
    background-color: #faffea;
    color: #9AD257;
    margin-left: 10px;
    margin-top: 10px;
   width: 500px;
    border-radius: 3px;
   border: none;
}
nav{
    display: flex;
}
.navbar{
display: flex;
height: 50px;
/* background-color:#9AD257; */
background-color: #6FB22C;
border-radius: 5px;
/* margin-left: 50px;
margin-right: 100px;
padding-right: 94%; */
align-items: center;
justify-content: space-between;
width: 100%;
}

.navbar  li{
    display: inline-block;
    flex-direction: row;
    margin-right: 80px;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.container{
    margin-left: 50px;
    margin-right: 100px;
}

/* pour les tableaux  flexbox*/
.section1{
    width: 100%;
}
.Produitsjus{
    float: left;
    width: 20%;
}
.jus{
    display: flex;
    flex-direction: column;
}
.jus>div>img{
    margin-left: 30px;
}
.Livraison{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: whitesmoke;
}
h3{
    margin-left: 15px;
    margin-top: 0;
}
.user{
    /* margin-left: 50px; */
    font-size: 30px;
    color: #9AD257;
    margin-top: 10px;
    margin-left: 20px;

}
.carte{
    margin-left: 25px;
    margin-top: 15px;
    font-size: 25px;
    color: #9AD257;
}
.phone{
    font-size: 15px;
    margin-left: 40px;
    margin-top: 20px;
}
.icone{
    display: flex;
    flex-direction: row;
    color: #9AD257;
}
.pa{
    color: black;
    margin-left: 15px;
}
.Produitsjus{
    width: 15%;
}
.jus>div>h1,p{
    text-align: center;
}

.nouveaute{
    display: flex;
    margin-top: 0;
    padding-top: 0;
    /* gap: 300px; */
}

.menu li{
    display: inline;
    margin-right: 15px;
}
.prodsbuy{
    display: flex;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
    float: right;
}
.prodsbuy>div>img{
    margin-left: 20px;
}
.prodsbuy>div{
    border-bottom: 0.3px solid rgb(177, 172, 172);
    border-right: 1px solid rgb(177, 172, 172);
    border-left: none;
    padding-bottom: 30px;
}
.prodsbuy>div>h3{
    text-align: center;
    color: #ccdb00;
 }
.prodsbuy>div>a{
   text-align: center;
   margin-left: 50px;
   text-decoration: none;
   font-family: 'Kanit', sans-serif;
   font-weight: 700;
}
/* .prodsbuy>div>a:hover{
    background: rgba(0,0,0,0.6);
    opacity: 0.4;
 } */
.section2{
    display: inline;
    width: 40%;
}
.section2>div>.img{
float: left;
}
.section2>div>h1{
    margin-left: 25px ;
}
.section2>div>p{
   text-align: left;
}
.banner{
    float: right;
}
.section2>div>.imgf{
    margin-top: 0;
}
.featured{
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin-left: 80px;
}
.featured>div{
    /* border: 1px solid; */
    border-bottom: 0.3px solid rgb(177, 172, 172);
    border-right: 1px solid rgb(177, 172, 172);
    border-left: none;
}
.featured >div>h1{
    margin-top: 0;
    color: #ccdb00;
    text-align: center;
}
.actualite{
    text-align: left;
   font-family: 'Kanit', sans-serif;
    font-weight: 700px;
    width: 70%;
    float: right;
    background-color: whitesmoke;
    height: 60px;
    justify-content: center;
}
.box{
    float: right;
    width: 70%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.box>div>a>img{
    width: 300px;
}
.box>div>a>img :hover{
    color: white
}
.box>div>b{
    text-align: center;
}
.marque{
    display: flex;
    gap: 20px;
    width: 85%;
    background-color: whitesmoke;
    height: 35vh;
    float: right;
}
.marque>h1{
    float: left;
    margin-left: 50px;
    flex-wrap: nowrap;
}
.marque>div{
    float: right;
    gap: 30px;
}
.marque>div>img{
    width:100px ;
}
.pied{
    display: flex;
    width: 100%;
    gap: 30px;
}
.pied>div>p{
    width: 250px;
    color: #a1a1a1;
}
.pied>div>a{
    margin-left: 10px;
    width: 20px;
}
.pied>div>img{
    width: 300px;
}
footer{
    clear: both;
}
 /* page detail */
 .details{
    display: flex;
 }
 .details>div>p{
    color: #a1a1a1;
    font-family: sans-serif;
 }

 /* Partie responsive */
@media  screen and (max-width: 667px) and (min-width: 375px){
    nav{
        display: flex;
    }
   nav>img{
    width: 100px;
    padding-left: 40px;
   }
   nav>.icone{
    display: flex;
    flex-direction: row;
    color: #9AD257;
    /* float: none; */
    margin-top: 40px;
    /* width: 30px; */
    position: absolute;
   }
   .navbar {
        display: inline-block;
        height: 60px;
        /* background-color: #9AD257; */
        background-color: #6FB22C;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 50px;
}

    .navbar li {
        display: inline-block;
        flex-direction: row;
        margin-right: 30px;
        text-align: center;
    }
    img.mySlides {
        width: 350px;
    }
    .Produitsjus {
        width: 100%;
    }
    .Livraison {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: whitesmoke;
        float: left;
        padding-right: 20px;
        flex-direction: column;
    }
    .featured {
        margin-top: 350px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
    }
    .box>div>b {
        text-align: center;
        margin-left: 40px;
    }
    .box>div>a>img {
        width: 200px;
    }
    .marque {
        display: flex;
        gap: 20px;
        width: 50%;
        background-color: whitesmoke;
        height: 35vh;
        float: right;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .marque>div{
        gap: 30px;
        margin-top: 100px;
    }
    .nouveaute {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;
    }
    ul.menu {
        margin-left: 0;
        padding-left: 0;
        margin-top: 0;
    }
    .prodsbuy{
        display: flex;
        flex-direction: column;
        width: 100%;
        float: right;
    }
    /* .prodsbuy>div{
        margin-right: 50px;
    } */
    .box {
        float: right;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    /* .marque {
        display: flex;
        gap: 20px;
        width: 70%;
        background-color: whitesmoke;
        height: 35vh;
        float: right;
        flex-direction: row;
        flex-wrap: wrap;
    } */
    .marque {
        display: flex;
        gap: 20px;
        width: 100%;
        background-color: whitesmoke;
        height: auto;
        float: right;
        flex-direction: column;
        /* flex-wrap: wrap; */
        height: 85vh;
        justify-content: center;
        align-items: center;
        padding-bottom: 120px;
    }
    .marque>div{
        margin-top: 0;
    }
    /* .marque>h1 {
        float: left;
        margin-left: 10px;
        font-size: 20px;
        padding-bottom: 0;
        margin-bottom: 0;
    } */

    .marque>div>img{
        width: 50px ;
    }
    .details>div>a>img{
        width: 100px;
    }
    .pied {
        display: flex;
        flex-direction: column;
        height: 130vh;
    }
/* .pied>div>img{
    width: 10px;
} */

    footer{
        clear: both;
    }
    }
